
<% if session[:current_user] %>
  <h2>Welcome <%= User.find(session[:current_user]).name %></h2>
  <%= form_tag('/wines/search', method: 'get') do %>
    <%= search_field_tag 'search' %>
    <%= submit_tag 'Search for wines' %>
  <% end %>
<% else %>
  <h2>Welcome</h2>
  <%= link_to 'Sign Up for a new account', new_user_path %>
  <%= link_to 'Log in to your account', login_path %>
<% end %>
