

<h2> Welcome <%= @user.name %> </h2>
<% if @user.wines.count >= 1 %>
<div class="wine_show 16 columns">
  <hr><h2>Your Favorites!</h2>
  <% @user.wines.each do |favorite_wine| %>
    <hr><%= link_to favorite_wine.name, wine_path(favorite_wine) %>
    <img src="<%= favorite_wine.image %>">

    <%= form_tag('/wine_reviews/new', method: :get) do |f| %>
      <%= hidden_field_tag :wine_id, favorite_wine.id %>
      <%= submit_tag "Add a review for #{favorite_wine.name}" %>
  <% end %>
</div>

    <%= form_tag('/users/remove_wine', method: :post) do |f| %>
      <%= hidden_field_tag :id, favorite_wine.id %>
      <%= submit_tag 'Delete from your favorites' %>
    <% end %>
</div>
<% end %>
<hr>
<%= link_to 'Edit Your Account', edit_user_path(@user) %> |
<%= link_to 'Delete Your Account', user_path(@user), method: :delete %>
<hr>

<% end %>
