

<% if session[:current_user] %>
  <div class="welcome-header sixteen columns"></div>
  <h2>Welcome to win.r, <%= User.find(session[:current_user]).name %>!</h2>
  <%= render '/wines/search' %>
<% else %>
  <div class="welcome-header sixteen columns">
  <h2>Welcome to win.r!</h2>
    <div class="welcome">
    <%= link_to 'Login', login_path %></div>
    <div class="welcome">
    <%= link_to 'Sign up for an account', new_user_path %></div>
  </div>
<% end %>

<div class="wine_rec">
<h2>Check out this awesome wine!</h2>
  <% random_id = Wine.pluck(:id).shuffle[0] %>
  <% random_wine = Wine.find(random_id) %>
  <%= link_to random_wine.name, wine_path(random_wine) %>
  <img src="<%= random_wine.image %>">
</div>
