<h2>Add a New Wine to wine.r</h2>

<ul>
  <% @wine.errors.full_message.each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
</ul>

<%= form_for @wine do |f| %>
  <div class="form">

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :vineyard %>
    <%= f.text_field :vineyard %>

    <%= f.label :vintage %>
    <%= f.text_field :vintage %>

    <%= f.label :varietal %>
    <%= f.text_field :varietal %>

    <%= f.label :region %>
    <%= f.text_field :region %>

    <%= f.label :color %>
    <%= f.text_field :color %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit 'Add a wine to the database' %>

  </div>
<%= end %>
