<div class="show">
<h2><%= @wine.name %> | <%= @wine.vintage %></h2><br>
<img src="<%= @wine.image %>">
<% if @wine.description %>
  <h5><%= @wine.description %></h5>
<% end %>
<h5>$<%= number_with_precision(@wine.price, precision: 2) %></h5>
<% if @wine_reviews %>
  <% average_rating = [] %>
  <% @wine_reviews.each do |review| %>
  <%= render partial: "/wine_reviews/wine_review", locals: {review: review} %>
  <% average_rating << review.rating %>
  <% end %>
  <% if average_rating.length == 0 %>
    <%= "No Ratings exist for #{@wine.name}." %>
  <% else %>
    <% rating = average_rating.inject{ |sum, el| sum + el }.to_f / average_rating.size %>
    <em>Rating: </em><%= rating %>
  <% end %>
<% end %>
</div>

<div class="add_wine">
  <% if !current_user.wines.include?(@wine) %>
    <%= form_tag('/wines/add_to_user_favorites_wines', method: :post) do |f| %>
      <%= hidden_field_tag :id, @wine.id %>
      <%= submit_tag 'Add to Your Favorites' %>
    <% end %>
  <% end %>
</div>

<div class="reviews">
  <!-- allow users to create a review if they haven't already written one, if not, bring them to their review  -->
  <% current_review = WineReview.where(wine_id: @wine.id).where(user_id: current_user.id) %>
  <% if current_review %>
    <% link_to "Edit your review for #{@wine.name}", edit_wine_review_path(current_review) %>
  <%else %>
    <%= form_tag('/wine_reviews/new', method: :get) do |f| %>
      <%= hidden_field_tag :wine_id, @wine.id %>
      <%= submit_tag "Add a review for #{@wine.name}" %>
    <% end %>
  <% end %>
</div>
