<!DOCTYPE html>
<html>
<head>
  <title>WineR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% ENV["SNOOTH_API_KEY"] %>
    <% if session[:current_user] %>
      <div class="constant_header" align="right">
        <%= link_to 'Back to your page', user_path(session[:current_user]) %>
        <%= link_to 'Log Out', logout_path %>
        <%= link_to 'win.r', root_path %>
      </div>
    <% end %>

<%= yield %>

</body>
</html>
